body {
  margin:0;
}

header {
  height:70px;
  box-shadow:0px 10px 10px -10px rgba(0,0,0,0.1)
}

.logo {
  background-image:url('../public/airbnb.png');
  background-size:cover;
  background-position: center;
  width:92px;
  height:35.5px;
  margin-left:30px;
  margin-top:22px;
}