body {
  margin:0;
  font-family: 'Poppins', sans-serif;
}

header {
  height:70px;
  box-shadow:0px 10px 10px -10px rgba(0,0,0,0.1);
}

.logo {
  background-image:url('../public/airbnb.png');
  background-size:cover;
  background-position: center;
  width:92px;
  height:35.5px;
  margin-left:30px;
  margin-top:22px;
}

.photo-div {
  margin:96px auto;
  height:432px;
  width:795.25px;
  background-image:url('../public/hero.JPG');
  background-size:cover;
}

.header-bottom {
  padding-left:366px;
}

.header-bottom h1 {
  font-size:36px;
  font-weight:600;
}

.header-bottom p {
  font-size:16px;
  width:30%;
}

.photo-container {
  height:235px;
  width:176px;
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  border-radius:9px;
}

.card-container {
  margin-left:366px;
  margin-top:49px;
  height:302px;
  width:177px;
  font-size:12px;

}

.reviews {
  padding-left:2px;
  color:#918E9B;
}

.star {
  color:#FE395C;
  padding-right:3px;
}

.reviews i {
  font-size:2px;
  vertical-align:middle;
}

.summary-container{
  padding-top:8px;
}

.title {
  font-size:12px;
  font-weight:400;
  margin-top:4px;
  margin-bottom:0px;
}

.price {
  margin-top:5px;
}

.price span {
  font-weight:700;
}

.card-btn {
  margin-left:6px;
  margin-top:6px;
  padding:2px;
  border-radius:2px;
  height:25px;
  width:71px;
  font-size:10.24px;
  color:222222;
  text-transform:uppercase;
  background-color:white;
}